*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
*.pyc
*.ncrunchproject
*.ncrunchsolution
*.DotSettings
_Resharper.*
packages

FortuneVoronoi/bin
FortuneVoronoi/obj

FortuneVoronoi.Test/bin
FortuneVoronoi.Test/obj